

.home-page {
  width: 1440px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  width: 1440px;
  top: 162px;
  bottom: 2965px;
  left: 50%;
  background: url('../../assets/images/016370a4-bf86-43d5-97cd-2497d88d84c8.png') no-repeat center;
  background-size: cover;
  transform: translate(-50%, 0);
  z-index: -1;
}

.experiences-background {
  position: absolute;
  width: 1440px;
  top: 1673px;
  bottom: 1226px;
  left: 50%;
  background: rgba(248, 245, 240, 0.2) url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-01-10/2d3f3148-c3f0-4422-bdf0-04691f2b2010.png) no-repeat center;
  transform: translate(-50%, 0);
  z-index: -1;
}
