/* Base styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure the body takes full width */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: medium;
  width: 100 %; /* Ensure the body takes full width */
}

/* Default container layout */
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100 %; /* Prevent overflow */
}

.container .column {
  width: 48%;
  margin-bottom: 20px;
}

img {
  width: 100%; /* Ensures images scale to container width */
  height: auto;
}

/* Tablet (max-width: 1024px) */
@media (max-width: 1024px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .container .column {
    width: 48%; /* Adjust width for tablet */
  }
}

/* Mobile (max-width: 600px) */
[class*="col-"] {
  width: 100%;
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
    width: fic-content;
  }

  header {
    text-align: center;
    padding: 5px;
  }

  .container {
    display: block; /* Stack columns vertically */
    padding: 0 5px; /* Prevent content from touching screen edges */
  }

  .container .column {
    width: fix-content; /* Full width for each column on mobile */
    margin-bottom: 20px; /* Spacing between columns */
  }

  /* Optional: Disable animation on mobile */
  .App-logo {
    animation: none;
  }

  img {
    width: fix-content; /* Make sure images scale down on mobile */
    height: auto;
  }
}
